if hexo-config('preloader.enable')
  if hexo-config('preloader.load_style') == 'default'
    @import './_load_style/default'
  else if hexo-config('preloader.load_style') == 'image'
    @import './_load_style/image'
  else
    @import './_load_style/default'